# ==========
# C++
# ==========

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

# ==========
# CMake
# ==========

# Compiled Object files
**/.DS_Store

# CMake exclusive
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
#**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*

# Local 

.idea/*.xml

out/build/**/*

[Bb][Uu][Ii][Ll][Dd]/

include/*
lib/*
bin/*
test/test_runner

# ==========
# VSCode
# ==========

**/.vscode/*
!**/.vscode/c_cpp_properties.json
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Local History for Visual Studio Code
**/.history/

# Built Visual Studio Code Extensions
**/*.vsix

# ==========
# Others
# ==========

#**/qtest/**
#**/qTest/**
*.bkp

# Blockbuster
Programming_2/Theory/Blockbuster/data/*.bin
Programming_2/Theory/Blockbuster/data/users_data.csv

# Bank
Programming_2/Lab/Bank/data/client_ops.csv

# Linked List
Dyn_Data_Structures/Lab/Linked_List/bin/*
Dyn_Data_Structures/Lab/Linked_List/data/*