@font-face {
  font-family: 'omori-normal';
  src: url('./assets/fonts/omori_normal.ttf') format('truetype');
  font: swap;
}

@font-face {
  font-family: 'omori-blackspace';
  src: url('./assets/fonts/omori_blackspace.ttf') format('truetype');
  font: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fcfefc;
}

canvas {
  background-color: #fcfefc;
}

#audioToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

#audioToggle svg {
  width: 44px;
  height: 44px;
  stroke: black;
  fill: #fcfefc;
}