@font-face {
  font-family: 'Rodondo';
  src: url('./fonts/Rodondo/Rodondo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: improves performance */
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-display: swap; /* Optional: improves performance */
}

:root {
  /* Fonts */
  --font-title: 'Rodondo';
  --font-normal: 'Montserrat';

  /* Colors */
  --lightgray: #e5e5e5;
  --mediumgray: #404040;
  --darkgray: #171717;
}

body {
  margin: 0;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  background-color: black;
}