.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  margin-left: 0;
  margin-right: 1.5rem;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.checkbox {
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: 2px solid rgb(from var(--mediumgray) r g b / 70%);
  border-radius: 0.25rem;
  background-color: transparent;
  transition: all 0.3s;
}

.checkbox:hover {
  border-color: var(--mediumgray);
}

.checkbox:checked {
  background-color: var(--mediumgray);
  border-color: var(--mediumgray);
}

.checkbox:hover:checked {
  border-color: var(--mediumgray);
}

.checkbox-icon-container {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.7rem;
}

.checkbox-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1rem;
  width: 1.7rem;
  fill: var(--light-primary);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.checkbox:checked ~ .checkbox-icon {
  transform: translate(-50%, -50%) scale(1);
}

.checkbox-label {
  color: var(--mediumgray);
  font-size: 0.9rem;
  position: relative;
  padding-left: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.dark .checkbox-label {
  color: var(--lightgray);
}