@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-display: swap;
}

:root {
  /* Sizes */
  --navbar-height: 75px;

  /* Fonts */
  --font-normal: 'Poppins';

  /* Colors */
  --lightgray: #d9d9d9;
  --lightgray-hover: #a3a3a3;
  --mediumgray: #404040;
  --mediumgray-hover: #1a1a1a;
  --darkgray: #171717;

  --light-primary: #ebebeb;
  --dark-primary: #000000;

  --accent-primary: #3b82f6;
  --accent-primary-darker: hsl(from var(--accent-primary) h s calc(l * 0.8));

  --error: #ef4444;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-normal);
}

.dark body {
  background-color: var(--dark-primary);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
